<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240548097845-9fer2568q3pdbmbej337tcjfgaimlt5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240548097845-9fer2568q3pdbmbej337tcjfgaimlt5t</string>
	<key>API_KEY</key>
	<string>AIzaSyBH2jIiqJZOwvuqXCiPX_GZiKmgcvsrn94</string>
	<key>GCM_SENDER_ID</key>
	<string>240548097845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.ynwano.14.FootballApp2</string>
	<key>PROJECT_ID</key>
	<string>footballapp2</string>
	<key>STORAGE_BUCKET</key>
	<string>footballapp2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240548097845:ios:23045c325bb42888a5667c</string>
	<key>DATABASE_URL</key>
	<string>https://footballapp2.firebaseio.com</string>
</dict>
</plist>